
<div class="row">
	<div class="col s0 m3"></div>
  <div class="col s12 m6">
    <div class="card medium blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Join Us!</span>
        <%= form_with model: @user do |f| %>
					<%= f.text_field :first_name, placeholder: 'First Name' %>
					<%= f.text_field :last_name, placeholder: 'Last Name' %>
					<%= f.text_field :email, placeholder: 'E-Mail' %>
					<%= f.password_field :password, placeholder: 'Password' %>
				<a class="waves-effect waves-light btn center"><%= f.submit %></a>
				<% end %>
      </div>
    </div>
  </div>
</div>


