


<div class="card large">
  <div class="card-image waves-effect waves-block waves-light">
    <%= image_tag("kraken.jpg", :alt => "Sea Monster Pie", :class => "activator", style: "min-width: auto; min-height: 100%; ") %>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4"><%= @post.title %><i class="material-icons right">more_vert</i></span>
    <small>Submitted <%= time_ago_in_words(@post.created_at) %> ago</small>
    <p><a href="#"><%= link_to "#{@post.user.full_name}", @user %></a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><%= @post.title %><i class="material-icons right">close</i></span>
    <p><%= @post.content %></p>
  </div>
</div>

<% if @post.user == current_user %>


<%= link_to "Edit", edit_post_path(@post), class: "waves-effect waves-light btn" %>
<%= link_to "Delete Post", @post, method: :delete, class: "waves-effect waves-light btn" %>


<% end %>


<h3>Comments</h3>

<%= form_for [@post, Comment.new] do |f| %>
<%= f.text_area :body, placeholder: "Add a comment" %><br/>
<%= f.submit "Add Comment" %>
<% end %>

<ul>
  <%= render(partial: 'comments/comment', collection: @post.comments) %>
</ul>
